<section id="body"></section>

<div *ngIf="modIsOpen" class="modal">
    <div id="btn" (click)="toggleMod()">X</div>
    <h2> Faites attention a ce que vous faites </h2>
    <div id='mod-text'>
        Vous venez d'atterir dans une dimension parallèle, ne touchez à rien!!! Les secours arrivent au plus vite
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Stack_Overflow_logo.png">
</div>

<!-- Planets -->
<div id="pikachu" class="monster"></div>
<div id="stack" class="monster"></div>
<div id="ricardo" class="monster"></div>
<div id="smartguy" class="monster"></div>
<div id="mcdonald" class="monster"></div>
<div id="fusee" class="monster"></div>
<div id="ballerine" class="monster"></div>