<section id="background"></section>
<section id="body">
    <div id="intro">
        <p>L'espace est un terme qui peut avoir plusieurs significations. Il peut représenter un lieu ciblé, en tant que
            notion général relative aux étendues et donc notion abstraite. Il peut aussi représenter le temps, étant un
            concept majeur de la métaphysique. Il peut également représenter, juste un espace comme on peut en trouver
            plein
            de ce texte (coucou les codeurs).</p> <br>
        <p> Peu importe, la définition qu'on lui donne, le terme "espace" évoque inconsiemment un chose abstraite ayant
            des proportions démesurées faisant perdre faciliment l'équilibre.</p> <br>
        <p> Mais la définition sur laquelle ce site s'appuie va être celle qui semble être
            la plus utilisée dans le language courant, celle qui définit et représente la partie de l'Univers au dela de
            l'atmoshpère, celle qui en fait rêver certains et en inspire d'autres...</p>
        <div class="btn" [routerLink]="['../selectmode']">Commencer l'expedition</div>
    </div>

</section>